.color {
  display: inline-table;
}

.colorgrid {
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(auto-fill, minmax(0px, 1fr));
}

.colorchoice {
  height: 10vw;
  opacity: .8;
}

.colorchoice:hover {
  opacity: 1;
}