body {
  background: #222;
  color: #ddd;
}

a {
  color: white;
  text-decoration: none;

}
.layout {
  margin: 1em auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 1em 1em .5em;
  padding: .5em 1em;
  background: #8883;
} 

.board {
  height: 100%;
}
.cg-wrap coords.ranks {
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.cg-wrap coords.files {
  left: 0px;
  top: 0px;
  bottom: 0px;
}
.gamethumb {
  border: wheat;
  border-style: outset;
  margin: 4px;
  padding: 4px;
}
.gamethumb:hover {
  background-color: #aaa;
}
.selector {
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(auto-fill, minmax(0px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border: burlywood;
  border-style: groove;
  width: fit-content;
}
.myturn {
  background: #777;
}
.profile {
  padding-bottom: 1em;
}
section {
  padding: 1em;
}
.fullscreen {
  height: 75vh;
  max-width: 75vh;
}
.thumb {
  height: 8em;
}
.status {
  display: inline-flex;
  margin-right: 1em;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: solid;
  border-width: 1.5px;
  border-color: white;
}
.connected {
  background-color: green;
}
.disconnected {
  background-color: red;
}
.logo {
  width: 4em;
}
i {
  border-style: solid;
  border-color: #393939;
  border-radius: 10px;
  padding: 6px;
  margin-right: .5em;
  width: 1em;
  height: 1em;
  text-align: center;
  font-style: normal;
}
i:hover {
  background-color: #393939;
}
i:active {
  animation: blinker .2s 1;
}
.button {
  border-style: solid;
  border-color: #393939;
  border-radius: 10px;
}
.oneem {
  width: 1em;
}
.profile {
  display: grid;
  background: #444;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  overflow: auto;
}
.toolbar {
  margin-bottom: 1em;
}
.inline {
  display: inline;
}
.tool {  
  margin-right: 1em;
}
.vl {
  border-left: thick solid #393939;
}
.turn {
  display: inline-block;
  width: 1em;
  height: 1em;
  size: 1em;
  /* border-color: #888; */
  /* border-style: solid; */
  border-width: 0px;
  border-radius: 4px;
  padding: 6px;
  margin-right: .5em;
  min-width: 2em;
  min-height: 2em;
  position: absolute;
  text-align: center;
}
.w {
  background-color: white;
  color: black;
}
.b {
  background-color: black;
  color: white;
}