.component {
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#page.component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 75vh;

}

#game.component {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 80vh;
    position: relative;
}

.stacked.component {
    display: flex;
    flex-direction: column;
}

.board-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.board {
    width: 70vw;
    height: 70vw;
    max-width: 70vh;
    max-height: 70vh;
}

.collapsible-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    min-width: 20vw;
}

.history {
    overflow-y: auto;
}